node_modules/
.env
credentials.json
coverage/
.DS_Store
*.log
mqtt_traffic.log
clean_log.txt
out.txt
out2.txt
map_visualization_*.svg
map_visualization_*.html
deviceMap_visualization_*.svg
test_map_visualization.svg
